
<div class="container">
<% if @user.organisation? %>
  <% if current_user == @user %>
     <div class="col-lg-12 ">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="useravatar">
                 <img class="img-circle" alt="" src="<%= @user.organisation_profile.org_photos[0].thumb %>">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="card-info"> <p><class="card-title"><h2><%= @user.organisation_profile.name %></h2></p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" id="my profiles" class="btn btn-primary" href="#tab1" data-toggle="tab">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="hidden-xs">My Profile</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="my events" class="btn btn-default" href="#tab2" data-toggle="tab">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <div class="hidden-xs">My Events</div>
          </button>
        </div>
      </div>
      <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <div class="organization-description"?>
              <div class="container">
                <div class="col-md-6">
                  <div class="event-details">
                    <div class="event-description">
                      <h2>Organisation Description</h2>
                      <p><%= @user.organisation_profile.org_description %></p>
                    </div>
                    </br>
                    <h2>Contact Us!</h2>
                    <p><%="Website: " if @user.organisation_profile.website.present?%> <a href="<%= @user.organisation_profile.website %>"><%= @user.organisation_profile.name if @user.organisation_profile.website.present? %></a></p>
                    <p>Contact-Person: <%= @user.organisation_profile.contact_person %></p>
                    <p>Contact Number: <%= @user.organisation_profile.phone %></p>
                    <p>Email: <%= @user.organisation_profile.email %></p>
                    <p><%= "Fax:" + @user.organisation_profile.fax if @user.organisation_profile.fax.present? %></p>
                    <p><%= "Field/Industry:" + @user.organisation_profile.field_or_industry if @user.organisation_profile.field_or_industry.present? %></p>
                    <p><%= "Organisation size:"+ @user.organisation_profile.org_size.to_s if @user.organisation_profile.org_size.present? %></p>
                    <p><%="Language: "+ @user.organisation_profile.language if @user.organisation_profile.language.present? %></p>
                  </div>
                </div>
                <div class="col-md-6">
                  
                  <div class="address">
                    <div class="row">
                      <div class="col-lg-12">
                        <p><h3><strong>Address: </strong></h3><%= @user.organisation_profile.address %>, <%= @user.organisation_profile.postal_code %>, <%= @user.organisation_profile.city %> <%= @user.organisation_profile.state %></p>
                      </div>
                      <div class="col-lg-10" id="map"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%= link_to "Edit Profile", edit_user_registration_path, type: "button", class: "btn btn-default"%>
          </div>
          <div class="tab-pane fade in" id="tab2">
            <h3>Upcoming Events</h3>
            <ol>
              <% @events_open.each do |event| %>
                <li><%= link_to event.title, event %> <%= link_to 'Edit', edit_event_path(event), type: 'button', class: 'btn btn-default' %></li>
              <% end %>
            </ol>
            <h3>Past Events</h3>
            <ol>
              <% @events_expired.each do |event| %>
                <li><%= link_to event.title, event %> <%= link_to 'Edit', edit_event_path(event), type: 'button', class: 'btn btn-default' %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2><%= @user.organisation_profile.name %></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="event-details">
            <h2>Contact US!</h2>
            <p>Website: <a href="<%= @user.organisation_profile.website %>"><%= @user.organisation_profile.name if @user.organisation_profile.website.present? %></a></p>
            <p>Contact-Person: <%= @user.organisation_profile.contact_person %></p>
            <p>Contact Number: <%= @user.organisation_profile.phone %></p>
            <p>Email: <%= @user.organisation_profile.email %></p>
            <p>Fax: <%= @user.organisation_profile.fax if @user.organisation_profile.fax.present? %></p>
            <p>Field/Industry: <%= @user.organisation_profile.field_or_industry if @user.organisation_profile.field_or_industry.present? %></p>
            <p>Organisation size: <%= @user.organisation_profile.org_size if @user.organisation_profile.org_size.present? %></p>
            <p>Language: <%= @user.organisation_profile.language if @user.organisation_profile.language.present? %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="event-description">
            <h2>Organization Description</h2>
            <p><%= @user.organisation_profile.org_description %></p>
          </div>
          <div class="address">
            <h2>Address: <%= @user.organisation_profile.address %>, <%= @user.organisation_profile.postal_code %>, <%= @user.organisation_profile.city %> <%= @user.organisation_profile.state %></h2>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header">Related Events</h3>
        </div>
        <% @events_open.each do |event| %>
        <a href ="<%=event_path(event) %>">
          <div class="events-open col-lg-4 col-sm-6">
            <% if event.event_photos.present? %>
              <%= image_tag event.event_photos[0].medium.url, class: "img-responsive img-hover img-related" %>
            <% else %>
            <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            <% end %>

            <%= event.title %> </br>
            <%= event.start_date %></br>
            <%= event.end_date %></br>
            <%= event.category %>
          </div>
        </a>
        <% end %>
      </div>
    </div>
    <%= will_paginate @events_open, renderer: BootstrapPagination::Rails %>
    <%= page_entries_info @events_open %>
  <% end %>
<% elsif @user.volunteer? %>
  <div class="col-lg-12 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="useravatar">
             <img class="img-circle" alt="" src="<%= @user.profile.avatar.thumb %>">
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card-info"> 
            <div class="card-title">
              <h2><%= @user.name %></h2>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
         <button type="button" id="my profiles" class="btn btn-primary" href="#tab1" data-toggle="tab">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="hidden-xs">My Profile</div>
         </button>
      </div>
      <div class="btn-group" role="group">
         <button type="button" id="my events" class="btn btn-default" href="#tab2" data-toggle="tab">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <div class="hidden-xs">My Events</div>
         </button>
      </div>
    </div>
    <div class="well">
      <div class="tab-content">
         <div class="tab-pane fade in active" id="tab1">
            <div class="volunteer-description">
               <h3>Biography</h3>
               <p><%= @user.profile.description %></p>
            </div>
            <div class="Basic Information">
               <h3>About Me!</h3>
               <p> <%= "Date of Birth:" + @user.profile.birthdate.to_s if @user.profile.birthdate.present? %></p>
               <p>Hometown: <%= @user.profile.city %> <%= @user.profile.state %></p>
               <p>Language spoken: <%= @user.profile.language %></p>
               <p>Email: <%= @user.profile.contact_email %></p>
               <p>Gender: <%= @user.profile.gender %></p>
               <p> <%= "Skills:" + @user.profile.skills if @user.profile.skills.present? %></p>
               <p> <%= "Phone:" + @user.profile.phone if @user.profile.phone.present? %></p>
               <p><%= "Work:" + @user.profile.work if @user.profile.work.present? %></p>
               <p> <%= "Education:" + @user.profile.education if @user.profile.education.present? %></p>
               <p><%= "Country:" + @user.profile.country if @user.profile.country.present? %></p>
            </div>
            <%= link_to "Edit Profile", edit_user_registration_path, type: "button", class: "btn btn-default"%>
         </div>
         <div class="tab-pane fade in" id="tab2">
            <h3>Upcoming Events</h3>
            <ol>
              <% @volunteered_events_open.each do |event| %>
                <li><%= link_to event.title, event %></li>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Contact Number</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% event.event_volunteers.all.each_with_index do |volunteer, index| %>
                              <tr>
                                <td><%= index + 1 %></td>
                                <td><%= volunteer.name if volunteer.name.present? %></td>
                                <td><%= volunteer.email if volunteer.email.present? %></td>
                                <td><%= volunteer.phone if volunteer.email.present? %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
              <% end %>
            </ol>
            <h3>Past Events</h3>
            <ol>
              <% @volunteered_events_expired.each do |event| %>
                <li><%= link_to event.title, event %> </li>
              <% end %>
            </ol>
         </div>
      </div>
   </div>
  </div> 
<% end %> 
</div>




<!-- jQuery -->
<% if user_signed_in? && @user.organisation? %>
<script>
  $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below 
            $(this).removeClass("btn-default").addClass("btn-primary");   
        });
    });
  //set placeholder variables
  var map; //the map element
  var marker; //the map marker object(?) element(?)
  var geocoder; //geocoder tool object

  //define the location of next academy
  //var latlng; //= {lat: < %= @event.event_detail.latitude %>, lng: < %= @event.event_detail.longitude %>}

  //the function that the google map api will call right after running their js script
  function initMap() {
      var latlng;
      geocoder = new google.maps.Geocoder();
        geocoder.geocode({
          'address': "<%= @user.organisation_profile.address %>, <%= @user.organisation_profile.postal_code %>, <%= @user.organisation_profile.city %> <%= @user.organisation_profile.state %>"
        }, function(results,status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
              latlng = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()}
              walaoeehh(latlng);
            }
            else
            {
              latlng = {lat: 3.27229523935188, lng: 101.570401983462}
              walaoeehh(latlng);
            }
          }
          else
          {
            latlng = {lat: 3.27229523935188, lng: 101.570401983462}
            walaoeehh(latlng);
          }
        })

        //define the map (the part that showing the map when initMap is ran)
        

      //define geocoder
      // geocoder = new google.maps.Geocoder();

      // //when user click on map
      // google.maps.event.addListener(map,'click',function(event) {
      //     //get latitude(lat) and longitude(lng)
      //     document.getElementById('latspan').innerHTML = event.latLng.lat()
      //     document.getElementById('lngspan').innerHTML = event.latLng.lng()

      //     //set marker to the click position
      //     marker.setPosition({ lat: event.latLng.lat(), lng: event.latLng.lng() })

      //     //get the address with geocoder
      //     geocoder.geocode({
      //     'latLng': event.latLng
      //     }, function(results, status) {
      //         if (status == google.maps.GeocoderStatus.OK) {
      //             if (results[0]) {
      //                 document.getElementById('address-span').innerHTML = results[0].formatted_address;
      //             }
      //         }
      //     });
      // });
  }
  function walaoeehh(latlng)
  {
    map = new google.maps.Map(document.getElementById('map'), {
        center: latlng, 
        zoom: 8
      });

      //set the marker into next academy
      marker = new google.maps.Marker({
        position: latlng,
        map: map
      });

      //the function that set the initial zoom of the map
      map.setZoom(15);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOu5_6K5qsQqXlySNAMGy7j9WPkRZZXrg&callback=initMap"
async defer></script>
<% end %>