<!-- <p id="notice"><%= notice %></p>
 -->
<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Events
                    <small>Volunteer NOW LAH!</small>
                </h1>
                <%= render partial: "home/form" %>
            </div>
        </div>

    <% @events.each do |event| %>
        <div class="col-lg-4 col-sm-6">
          <a href ="<%=event_path(event) %>"><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""/></a>
            <%= event.title %> </br>
            
            <%= event.start_date %></br>
            <%= event.end_date %></br>
            <%= event.category %>
        </div>
    <% end %>
    <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
    <%= page_entries_info @events %>
</div>
<br>


