<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <%= render partial:"events/carousel" %>
</header>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <h1 class="page-header">
      <%= @event.title %>
    </h1>
    <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary btn-block", style: "color:white" if user_signed_in? && @event.user == current_user %>
  </div>
  <div class="col-md-6">
    <div class="event-details">
      <h2>Event Details</h2>
      <p>Organization Name: <a href="<%= user_path(@organisation.user) %>"><%= @organisation.name %></a></p>
      <p>Event type: <em><%= @event.category %></em></p>
      <p>Date: <%= @event.start_date %> to <%= @event.end_date %></p>
      <p>Time: <%= @event_detail.day_time %></p>
      <p>Address:<%= @event_detail.street_address %>, <%= @event_detail.postal_code %>, <%= @event_detail.city %> <%= @event_detail.state %></p>
      <p>Contact-Person: <%= @organisation.contact_person %></p>
      <p>Contact Number: <%= @organisation.phone %></p>
      <p>Email: <%= @organisation.email %></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="event-description">
      <h2>Event Description</h2>
      <p> <%= @event.description %></p>
      <p>
        <strong>Event photos:</strong>
        <%= image_tag @event.event_photos[0].url if @event.event_photos.present? %>
      </p>
    </div>
  </div>
</div>
</br>
<!-- Map -->
<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-8">
        <div id="map"></div>  
      </div>
      
      <div class="col-md-4">
        <% if user_signed_in? && current_user.volunteer? %>
          <div class="volunteer">
            <%= render partial:"event_volunteers/new", remote: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <div class="container" style="<%= show_if_org_or_admin?(@event) %>">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Registered Volunteers
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark Jacob</td>
                    <td>mark@jacob.com</td>
                    <td>012-3456789</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob Thornton</td>
                    <td>jacob@thornton.com</td>
                    <td>011-9876543</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Tom Larry</td>
                    <td>tom@tom.com</td>
                    <td>014-4567890</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
    </div>
  </div>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
  
  //set placeholder variables
  var map; //the map element
  var marker; //the map marker object(?) element(?)
  var geocoder; //geocoder tool object

  //define the location of next academy
  var latlng = {lat: <%= @event.event_detail.latitude %>, lng: <%= @event.event_detail.longitude %>}

  //the function that the google map api will call right after running their js script
  function initMap() {
      //define the map (the part that showing the map when initMap is ran)
      map = new google.maps.Map(document.getElementById('map'), {
          center: latlng, 
          zoom: 8
      });

      //set the marker into next academy
      marker = new google.maps.Marker({
          position: latlng,
          map: map
      });

      //the function that set the initial zoom of the map
      map.setZoom(15);

      //define geocoder
      // geocoder = new google.maps.Geocoder();

      // //when user click on map
      // google.maps.event.addListener(map,'click',function(event) {
      //     //get latitude(lat) and longitude(lng)
      //     document.getElementById('latspan').innerHTML = event.latLng.lat()
      //     document.getElementById('lngspan').innerHTML = event.latLng.lng()

      //     //set marker to the click position
      //     marker.setPosition({ lat: event.latLng.lat(), lng: event.latLng.lng() })

      //     //get the address with geocoder
      //     geocoder.geocode({
      //     'latLng': event.latLng
      //     }, function(results, status) {
      //         if (status == google.maps.GeocoderStatus.OK) {
      //             if (results[0]) {
      //                 document.getElementById('address-span').innerHTML = results[0].formatted_address;
      //             }
      //         }
      //     });
      // });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOu5_6K5qsQqXlySNAMGy7j9WPkRZZXrg&callback=initMap"
async defer></script>