<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organisation_profile.name %>
</p>

<p>
  <strong>Field or industry:</strong>
  <%= @organisation_profile.field_or_industry %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organisation_profile.website %>
</p>

<p>
  <strong>Org description:</strong>
  <%= @organisation_profile.org_description %>
</p>

<p>
  <strong>Org size:</strong>
  <%= @organisation_profile.org_size %>
</p>

<p>
  <strong>Language:</strong>
  <%= @organisation_profile.language %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organisation_profile.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @organisation_profile.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organisation_profile.email %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @organisation_profile.contact_person %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organisation_profile.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @organisation_profile.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @organisation_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organisation_profile.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @organisation_profile.user %>
</p>

<%= link_to 'Edit', edit_organisation_profile_path(@organisation_profile) %> |
<%= link_to 'Back', organisation_profiles_path %>
